html{
	min-height: 100%;
	position: relative;
}

#content{
	padding-top: 80px;
	padding-bottom: 70px;
}

.edit-btn{
	height: 40px;
}

#content p{
	font-family: 'Oswald', sans-serif;
}
#content h1, #content h5{
	font-family: 'Russo One', Arial;
}

#mainpagecontent{
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 70, 128, 0.8);
}

header li .active {
	background-color: rgba(255, 255, 255 , 0.3);
	border-radius: 10px;
}

.navbar-brand {
	font-weight: bold;
}

.page-content {
	padding-top: 30px;
}

.single-car-item{
	border: 1px solid #afafaf;
	transition: all ease-in-out 0.3s;
}

.single-car-item a{
	text-decoration: none;
	color: #000;
}

.card{
	position: relative;
}
.userblock{
	position: absolute;
	bottom: 0;
}

.single-car-item .card-footer{
	display: flex;
}

.single-car-item:hover{
	border-color: rgba(0, 70, 128, 0.8);
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
	transform: translateY(-10px);
}

.model-info{
	margin-top: 50px;
}

.add-car-button{
	margin: 20px;
}

.image-car-div{
	height: 200px;
}

.image-car-div img{
	max-width: 100%;
	height: auto;
}

.margin-top-xx{
	margin-top: 20px;
}

.company-info{
	font-family: 'Russo One', Arial;
	text-align: center;
	padding-top: 50px;
}

.company-info a{
	text-decoration: none;
}

footer {
	margin-right: 1000px;
	min-width: 100%;
	position: absolute;
	bottom: 0;
}

footer a {
	text-decoration: none;
}

footer .image-footer {
	width: 30px;
}

.login-block{
	width: 60%;
	margin-right: auto;
	margin-left:auto;
	background-color: #fff;
	padding:40px;
	-webkit-box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
	box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
	border-radius:5px
}

.login-block h1{
	text-align:center;
	margin-bottom:50px;
	margin-top:20px;
}
.login-form .form-group{
	margin-bottom: 1rem;
}

.login-block .login-form{
	padding-left:2rem;
	padding-right:2rem;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.block-remember-me{
	margin: 10px;
}



.register-block{
	width: 70%;
	margin-right: auto;
	margin-left:auto;
	background-color: #fff;
	padding:40px;
	-webkit-box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
	box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
	border-radius:5px
}
.register-block h1{
	text-align:center;
	margin-bottom:50px;
	margin-top:20px;
}

.register-block .register-form{
	padding-left:2rem;
	padding-right:2rem;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.register-block .form-group{
	margin-bottom: 1rem;
}
.authorize{
	display: flex;
	flex-direction: column;
}