{% extends 'base.html' %}
{% load static %}

{% block title %} 
  {% if pk %}
    Изменение продукта
  {% else %}
    Добавление продукта
  {% endif %}
{% endblock %}

{% block content %}

    <main id="content">
      <div class="container">
        {% if pk %}
          <h1>Обновление модели:</h1>
        {% else %}
          <h1>Добавление модели: </h1>
        {% endif %}

          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}

            <div class="btn-group margin-top-xx">
              <button type="submit" class="btn btn-success">

                Сохранить</button>
              <button type="button" class="btn btn-default" onclick="javascript:history.back()">Назад</button>
            </div>
          </form>

      </div>
    </main>

{% endblock %}