<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Админ-режим</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Подключаем шрифты -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

  </head>
  <body>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/functions.js"></script>

    <%- include("partials/_header.ejs") %>

    <main id="content">
      <div class="container">
        <h1> Admin-Каталог</h1>

        <div class="add-car-button">
          <a class="btn btn-primary" href="productedit" role="button">Добавить</a>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="card single-car-item h-100">
              <a href="productinfo">
                <img src="img/KAMAZ43118Kran.jpg" class="card-img-top" alt="KAMAZ">
                <div class="card-body">
                  <h5>Кран MH-55 на шасси КАМАЗ-43118</h5>
                  <p>Цена: 5500000 руб.</p>
                  <p>Надстройка: Кран MH-55 </p>
                  <p>Год выпуска: 2019</p>
                </div>
              </a>
                <div class="card-footer mt-auto">
                  <!-- Админские кнопки редактирования и удаления -->
                  <form method="POST" action="productedit">
                    <button type="submit" class="btn btn-warning edit">Изменить</button>
                  </form>

                  <form method="POST" >
                    <button type="submit" class="btn btn-warning erase">Удалить</button>
                  </form>
                </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card single-car-item h-100">
              <a href="productinfo">
                <img src="img/ScaniaS500Beton.png" class="card-img-top" alt="Scania">
                <div class="card-body">
                  <h5>Бетоносмеситель LIEBHERR HTM на шасси Scania-S500</h5>
                  <p>Цена: 6500000 руб.</p>
                  <p>Надстройка: Бетоносмеситель LIEBHERR HTM</p>
                  <p>Год выпуска: 2013</p>
                </div>
              </a>
                <div class="card-footer mt-auto">
                  <!-- Админские кнопки редактирования и удаления -->
                  <form method="POST" action="productedit">
                    <button type="submit" class="btn btn-warning edit">Изменить</button>
                  </form>

                  <form method="POST">
                    <button type="submit" class="btn btn-warning erase">Удалить</button>
                  </form>
                </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card single-car-item h-100">
              <a href="productinfo">
                <img src="img/MAZ.jpg" class="card-img-top" alt="maz">
                <div class="card-body">
                  <h5>45492B на шасси МАЗ-6312А8</h5>
                  <p>Цена: 3500000 руб.</p>
                  <p>Надстройка: Ломовоз</p>
                  <p>Год выпуска: 2019</p>
                </div>
              </a>
                <div class="card-footer mt-auto">
                  <!-- Админские кнопки редактирования и удаления -->
                  <form method="POST" action="productedit">
                    <button type="submit" class="btn btn-warning edit">Изменить</button>
                  </form>

                  <form method="POST">
                    <button type="submit" class="btn btn-warning erase">Удалить</button>
                  </form>
                </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card single-car-item h-100">
              <a href="productinfo">
                <img src="img/maz_beton.jpg" class="card-img-top" alt="mazbeton">
                <div class="card-body">
                  <h5>Бетоносмеситель АБС 7DA на шасси МАЗ-6303А5</h5>
                  <p>Цена: 4550000 руб.</p>
                  <p>Надстройка: Бетоносмеситель АБС 7DA</p>
                  <p>Год выпуска: 2018</p>
                </div>
              </a>
                <div class="card-footer mt-auto">
                  <!-- Админские кнопки редактирования и удаления -->
                  <form method="POST" action="productedit">
                    <button type="submit" class="btn btn-warning edit">Изменить</button>
                  </form>

                  <form method="POST">
                    <button type="submit" class="btn btn-warning erase">Удалить</button>
                  </form>
                </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="card single-car-item h-100">
              <a href="productinfo">
                <img src="img/KAMAZ43118Musor.jpg" class="card-img-top" alt="KAMAZ">
                <div class="card-body">
                  <h5>Мусоровоз КО-440-6 на шасси КАМАЗ-43118</h5>
                  <p>Цена: 5000000 руб.</p>
                  <p>Надстройка: Мусоровоз КО-440-6</p>
                  <p>Год выпуска: 2017</p>
                </div>
              </a>
                <div class="card-footer mt-auto">
                  <!-- Админские кнопки редактирования и удаления -->
                  <form method="POST" action="productedit">
                    <button type="submit" class="btn btn-warning edit">Изменить</button>
                  </form>

                  <form method="POST">
                    <button type="submit" class="btn btn-warning erase">Удалить</button>
                  </form>
                </div>
            </div>
          </div>



        </div>

      </div>
    </main>


  <%- include("partials/_footer.ejs") %>


  </body>
</html>