
{% extends 'base.html' %}
{% load static %}

{% block title %} 
Подробности продукта
{% endblock %}

{% block content %}
    <main id="content">
      <div class="container">
        <h1>Информация о модели: {{singleCar.pk_superstructure.supestructurename}} на шасси {{singleCar.pk_baseavto.pk_avtofirm.firmname}} - {{ singleCar.pk_baseavto.modelname }}</h1>
        <div class="feature">
          <h5>Категория: {{singleCar.pk_category.namecategory}}</h5>
          <div class="col">
            <div class="col-lg-4">
              {% if singleCar.imagepath %}
              <img src="{{singleCar.imagepath.url}}" class="card-img-top" alt="{{ singleCar.pk_car }}">
              {% else %}
                <img src="{% static 'img/emptyimage.png' %}" class="card-img-top" alt="Отсутствует">
              {% endif %}
            </div>
          </div>
          <div class="model-info">
            <p>Производитель: {{ singleCar.pk_baseavto.pk_avtofirm.firmname}}</p>
            <p>Модель: {{singleCar.pk_baseavto.modelname}}</p>
            <p>Надстройка на авто: {{singleCar.pk_superstructure.supestructurename}} </p>
            <p>Цена: {{singleCar.price}} руб.</p>
            <p>Год выпуска: {{ singleCar.yearissue|date:"Y"}} </p>
            <p>Описание: {{singleCar.description}}
            </p>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
