<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Подробности продукта</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Подключаем шрифты -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

  </head>
  <body>
    <script src="js/bootstrap.min.js"></script>



    <header id="header" class="fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a href="index" class="navbar-brand">Спец. техника</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent"
            aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a href="index" class="nav-link">Главная</a>
              </li>
  
              <li class="nav-item">
                <a href="catalog" class="nav-link">Каталог</a>
              </li>
  
              <li class="nav-item">
                <a href="pageadmin" class="nav-link">Режим администратора</a>
              </li>
            </ul>
            
            <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link">Вход</a>
                <a href="#" class="nav-item nav-link">Регистрация</a>
            </div>
  
            
          </div>
        </div>
      </nav>
    </header>

    <main id="content">
      <div class="container">
        <h1>Информация о модели { Кран MH-55 на шасси КАМАЗ-43118 }</h1>
        <div class="feature">
          <h5>Категория: Автокран</h5>
          <div class="row">
            <img src="img/KAMAZ43118Kran.jpg" class="col-lg-6" alt="KAMAZ">
          </div>
          <div class="model-info">
            <p>Производитель: КАМАЗ</p>
            <p>Модель: 43118</p>
            <p>Надстройка на авто: Кран MH-55 </p>
            <p>Цена: 5500000 руб.</p>
            <p>Год выпуска: 2019 </p>
            <p>Описание: Автомобильный кран КС-35714К-2, грузоподъемностью 16 т, смонтирован на полноприводном шасси КаМАЗ-43118 (6 х 6).

              Привод механизмов крана — гидравлический от насоса, приводимого в действие двигателем шасси. Гидропривод обеспечивает легкость и простоту управления краном, плавность работы механизмов, широкий диапазон рабочих скоростей, совмещение крановых операций.

              Стрела — телескопическая трехсекционная. Выдвижение секций — гидроцилиндром и полиспастами. Для увеличения подстрелового пространства по особому заказу поставляется легкий решетчатый удлинитель стрелы (гусек).

              Микропроцессорный ограничитель грузоподъемности с цифровой индикацией информации позволяет следить за степенью загрузки крана, длиной и вылетом стрелы, высотой подъема оголовка стрелы; показывает фактическую величину груза на крюке и максимальную грузоподъемность на данном вылете, а также автоматически по заданным координатам ограничивает зону действия крана при работе в стесненных условиях.
            </p>
          </div>
        </div>
      </div>
    </main>


  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <a class="text-muted" href="https://github.com/evster-coder">
        BoysGang@zhenya, 2021 &copy
        <image src="img/icon.jpg" class="image-footer">
      </a>
    </div>
  </footer>

  </body>
</html>